<?xml version='1.0' encoding='UTF-8'?>
<settings xmlns='http://maven.apache.org/SETTINGS/1.2.0'
          xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
          xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd'>
  <servers>
    <server>
      <id>github</id>
      <username>oguzhansecgel</username>
      <password>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</password>
    </server>
  </servers>
</settings>
